<div class="radio">  
  <label>  
      <input type="radio" name="RB1" value="login" (click)="setradio('login')" [checked]='true' ngModel>  
     Customer ID  
  </label>  
  </div>  
<div class="radio">  
<label>  
      <input type="radio" name="RB1" value="loan"  (click)="setradio('loan')"  ngModel>  
      Loan ID  
  </label>  
</div> 
<div class="container">
<h2> Login </h2>
<div *ngIf="isSelected('login')" >  
      <form #login ="ngForm" (ngSubmit)="loginForm()" novalidate>
          <table>
            <tr>
              <td>Customer ID</td>
              <td><input type="text" name="customerid" id="customerid" required [(ngModel)]="customerid"></td>
              </tr>
              <br>
              <tr>
              <td>Password</td>
              <td><input type="password" name="password" id="password" required [(ngModel)]="password"></td>
              </tr>
              <br>
              <tr>
              <td></td>
              <button type="submit" [disabled]="!login.valid" class="btn btn-primary"  > Login</button>
             <button type="submit" [disabled]="!login.valid" class="btn btn-primary" (click)="NewUser()" > New User</button>
             <button type="submit"  class="btn btn-primary" (click)="Admin()" > Admin</button>
            </tr>
          </table>
        </form> 
</div>  
 
<div *ngIf="isSelected('loan')">  
  <form #loan ="ngForm" (ngSubmit)="loanForm()" novalidate>
      <table>
        
        <tr>
          <td>Application ID</td>
          <td><input type="number" name="applicationid" id="applicationid" required [(ngModel)]="applicationid"></td>
        </tr>
        <br>
        <tr>
          <td>Mobile Number</td>
          <td><input type="date" name="phonenumber" id="phonenumber" required [(ngModel)]="phonenumber"></td>
        </tr>
        <br>
        <tr>
          <td></td>
         <td> <button type="submit" [disabled]="!loan.valid" class="btn btn-primary">Track</button></td>
        </tr>
      </table>
    </form>
    
</div> 
</div>